@using Lounge.Web.Models.ViewModels
@model PlayerDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
<hr />

<div>
    <dl class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Html.DisplayNameFor(model => model.OverallRank)</dt>
            <dd>@Html.DisplayFor(model => model.OverallRank)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Html.DisplayNameFor(model => model.Mmr)</dt>
            <dd>@Html.DisplayFor(model => model.Mmr)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Html.DisplayNameFor(model => model.MaxMmr)</dt>
            <dd>@Html.DisplayFor(model => model.MaxMmr)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Html.DisplayNameFor(model => model.WinRate)</dt>
            <dd>@Html.DisplayFor(model => model.WinRate)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Html.DisplayNameFor(model => model.WinLossLastTen)</dt>
            <dd>@Html.DisplayFor(model => model.WinLossLastTen)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Html.DisplayNameFor(model => model.GainLossLastTen)</dt>
            <dd>@Html.DisplayFor(model => model.GainLossLastTen)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Html.DisplayNameFor(model => model.EventsPlayed)</dt>
            <dd>@Html.DisplayFor(model => model.EventsPlayed)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Html.DisplayNameFor(model => model.LargestGain)</dt>
            <dd>@Html.DisplayFor(model => model.LargestGain)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Html.DisplayNameFor(model => model.LargestLoss)</dt>
            <dd>@Html.DisplayFor(model => model.LargestLoss)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Html.DisplayNameFor(model => model.AverageScore)</dt>
            <dd>@Html.DisplayFor(model => model.AverageScore)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Html.DisplayNameFor(model => model.AverageLastTen)</dt>
            <dd>@Html.DisplayFor(model => model.AverageLastTen)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Html.DisplayNameFor(model => model.PartnerAverage)</dt>
            <dd>@Html.DisplayFor(model => model.PartnerAverage)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Html.DisplayNameFor(model => model.ForumLink)</dt>
            <dd><a href="@Model.ForumLink">Link</a></dd>
        </div>
    </dl>
    <br />
    @if (Model.MmrChanges.Count > 0)
    {
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MmrChanges[0].Reason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MmrChanges[0].Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MmrChanges[0].MmrDelta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MmrChanges[0].NewMmr)
                </th>
            </tr>
        </thead>
        @foreach (var change in Model.MmrChanges)
        {
        <tr>
            <td>
                @if (change.Reason is PlayerDetailsViewModel.MmrChangeReason.Table or PlayerDetailsViewModel.MmrChangeReason.TableDelete)
                {
                    <a asp-action="TableDetails" asp-route-id="@change.ChangeId">@Html.DisplayFor(modelItem => change.Reason)</a>
                }
                else
                {
                    @Html.DisplayFor(modelItem => change.Reason)
                }
            </td>
            <td>
                <span class="utc-to-local" data-time="@change.Time.ToString("o", System.Globalization.CultureInfo.InvariantCulture)">
                    @Html.DisplayFor(modelItem => change.Time)
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => change.MmrDelta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => change.NewMmr)
            </td>
        </tr>
        }
    </table>
    }
</div>
