@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body style="background-color: #212121" class="text-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <div style="display: flex">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                    <a class="navbar-brand" asp-page="Leaderboard">@Localizer["MK8DX 150cc Lounge"]</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="mainNavbar">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="Leaderboard">@Localizer["Leaderboard"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="Records">@Localizer["Records"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="Stats">@Localizer["Stats"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://discord.com/invite/revmGkE">@Localizer["Discord Invite"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://docs.google.com/document/d/e/2PACX-1vQSfo4pVT4e0HTdJ-djk8OAwVIFoR3nrVpIcx7nW2K-mv0Y4wA9qLZo4sXB09egguOONnqC8n22b1_c/pub">@Localizer["Rules"]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-dark">
        <div class="container">
            &copy; 2022 - Lounge
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
