@using Microsoft.AspNetCore.Mvc.Localization
@using Lounge.Web.Models.Enums
@using Lounge.Web.Utils
@inject IViewLocalizer Localizer
@{
    // Get the current game from route data, fallback to mk8dx if not available
    var currentGame = ViewContext.RouteData.Values["game"]?.ToString() ?? Game.mk8dx.GetStringId();
    var gameEnum = Enum.TryParse(typeof(Game), currentGame, true, out var g) ? (Game)g : Game.mk8dx;
    var discordInvite = gameEnum == Game.mk8dx
        ? "https://discord.gg/revmGkE"
        : "https://discord.gg/WR6JKPn2v9";

    var rulesLink = gameEnum == Game.mk8dx
        ? "https://docs.google.com/document/d/e/2PACX-1vQSfo4pVT4e0HTdJ-djk8OAwVIFoR3nrVpIcx7nW2K-mv0Y4wA9qLZo4sXB09egguOONnqC8n22b1_c/pub"
        : "https://docs.google.com/document/d/e/2PACX-1vT16yZirwz_ehjYIq6KeemuGKx3rCCvKJU-iNuTl0S2FPs7AYv1y44bsfDMLKbRfA5TOxShsmJxomJq/pub";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="text-light">
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-dark mb-3">
            <div class="container">
                <div class="d-flex">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                    <a class="navbar-brand" asp-page="Leaderboard" asp-route-game="@currentGame">@Localizer[$"{gameEnum} Lounge"]</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between" id="mainNavbar">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="Leaderboard" asp-route-game="@currentGame">@Localizer["Leaderboard"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="Records" asp-route-game="@currentGame">@Localizer["Records"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="Stats" asp-route-game="@currentGame">@Localizer["Stats"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@discordInvite">@Localizer["Discord Invite"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@rulesLink">@Localizer["Rules"]</a>
                        </li>
                        <li class="nav-item">
                            @{
                                var otherGame = gameEnum == Game.mk8dx ? Game.mkworld : Game.mk8dx;
                                var otherGameKey = $"{otherGame} Lounge";
                            }
                            <a class="nav-link" asp-page="Leaderboard" asp-route-game="@otherGame.ToString().ToLower()">
                                @Localizer[otherGameKey]
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://mkcentral.com">MKCentral</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-dark mt-auto">
        <div class="container py-3 text-center">
            <span class="d-block mb-1">© 2018-2025 mkcentral.com</span>
            <small class="d-block mb-1 text-muted">
                MK8DX Lounge and MKWorld Lounge aren't endorsed by Nintendo and don't reflect the views or opinions of Nintendo or anyone officially involved in producing or managing Nintendo properties.
                Nintendo, Mario Kart, and their respective logos are trademarks of Nintendo.
            </small>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
