@page "/{game}/Leaderboard"
@using Lounge.Web.Settings
@using Lounge.Web.Stats
@using Lounge.Web.Models.Enums
@using Lounge.Web.Utils
@using System.Reflection
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Mvc.Localization
@inject ILoungeSettingsService LoungeSettingsService
@inject IViewLocalizer Localizer

@model Lounge.Web.Pages.LeaderboardPageModel
@{
    ViewData["Title"] = $"{Localizer.GetString("Leaderboard")} - {GameUtils.GetSeasonDisplayName(Model.Season)}";
    Layout = "_Layout";
}

@await Html.PartialAsync("Shared/_SeasonSelectorPartial", new Lounge.Web.Models.ViewModels.SeasonSelectorModel {
    PageName = "Leaderboard",
    Game = Model.Game,
    CurrentSeason = Model.Season,
    ValidSeasons = Model.ValidSeasons,
    PlayerCount = Model.Game == GameMode.mkworld12p ? 12 : Model.Game == GameMode.mkworld24p ? 24 : null
})

@if (Model.CachesBeingBuilt)
{
    <div class="alert alert-warning text-center mb-3">
        <strong>@Localizer["Maintenance in Progress"]</strong> - @Localizer["The site is currently undergoing maintenance. Please check back in approximately 20 minutes."]
    </div>
}
else
{
    <!form class="mb-3">
        <input type="hidden" value="@Model.Game.GetStringId()" id="gameInput" />
        <input type="hidden" value="@Model.Season" id="seasonInput" />
        <input type="hidden" value="@(Model.IsCurrentSeason.ToString())" id="isCurrentSeasonInput" />
        <input type="hidden" value="@(Model.ShowExtra ? "1" : "0")" id="extraInput" />
        <div class="form-row" id="leaderboardFormInputs">
            <div class="form-group col-xl-3 col-6">
                <label for="nameFilter">@Localizer["Name"]</label>
                <input type="text" class="form-control bg-dark text-light" id="nameFilter">
            </div>
            <div class="form-group col-xl-3 col-6">
                <label for="countryFilter">@Localizer["Country"]</label>
                <!select class="form-control bg-dark text-light" name="country" id="countryFilter">
                <!option value="" selected>@Localizer["All Countries"]</!option>
                @foreach (var country in Model.ValidCountries.OrderBy(c => LoungeSettingsService.CountryNames[c]))
                {
                    <!option value="@country">@LoungeSettingsService.CountryNames[country]</!option>
                }
                </!select>
            </div>
            <div class="form-group col-xl-1 col-sm-2 col-3">
                <label for="minMmrFilter">@Localizer["Min MMR"]</label>
                <input type="number" class="form-control bg-dark text-light" id="minMmrFilter" min=0>
            </div>
            <div class="form-group col-xl-1 col-sm-2 col-3">
                <label for="maxMMRFilter">@Localizer["Max MMR"]</label>
                <input type="number" class="form-control bg-dark text-light" id="maxMmrFilter" min=0>
            </div>
            <div class="form-group col-xl-1 col-sm-2 col-3">
                <label for="minEventsFilter">@Localizer["Min Events"]</label>
                <input type="number" class="form-control bg-dark text-light" id="minEventsFilter" min=0>
            </div>
            <div class="form-group col-xl-1 col-sm-2 col-3">
                <label for="maxEventsFilter">@Localizer["Max Events"]</label>
                <input type="number" class="form-control bg-dark text-light" id="maxEventsFilter" min=0>
            </div>
            <div class="form-group col-xl-2 col-sm-4">
                <label for="sortBySelect">@Localizer["Sort By"]</label>
                <!select class="form-control bg-dark text-light" name="sortOrder" id="sortBySelect">
                @{
                    var showExtraSorts = Model.ShowExtra;
                }
                @foreach (var sortOrder in Enum.GetValues<LeaderboardSortOrder>())
                {
                    if (sortOrder == LeaderboardSortOrder.LastWeekRankChange && !Model.IsCurrentSeason)
                        continue;

                    if ((sortOrder == LeaderboardSortOrder.AvgScore12P || sortOrder == LeaderboardSortOrder.AvgScore24P) && !showExtraSorts)
                        continue;

                    if (sortOrder == LeaderboardSortOrder.AvgScore24P && Model.Game is GameMode.mk8dx or GameMode.mkworld12p)
                        continue;

                    if (sortOrder == LeaderboardSortOrder.AvgScore12P && Model.Game == GameMode.mkworld24p)
                        continue;

                    var enumName = sortOrder.ToString();
                    var displyName = typeof(LeaderboardSortOrder).GetMember(enumName).First().GetCustomAttribute<DisplayAttribute>()?.GetName() ?? enumName;
                    <!option value="@enumName" @(sortOrder == LeaderboardSortOrder.Mmr ? "selected" : "")>@Localizer[displyName]</!option>
                }
                </!select>
            </div>
            @if (Model.ShowExtra)
            {
                <div class="form-group col-xl-3 col-12">
                    <label>@Localizer["Account Creation Date"]</label>
                    <div class="d-flex gap-2">
                        <input type="date" class="form-control bg-dark text-light" id="minCreationDate">
                        <input type="date" class="form-control bg-dark text-light" id="maxCreationDate">
                    </div>
                </div>
            }
        </div>
    </!form>
    <div class="text-center" id="leaderboard">
        <div class="table-responsive">
            <table id="leaderboardTable" class="table table-striped table-dark table-sm @(Model.IsCurrentSeason ? "current-season" : "historical-season")">
                <thead>
                    <tr>
                        <th class="rank-col">@Localizer["Rank"]</th>
                        <th class="country-col"></th>
                        <th class="name-col">@Localizer["Name"]</th>
                        <th class="equal-width-col">@Localizer["MMR"]</th>
                        <th class="equal-width-col">@Localizer["Peak MMR"]</th>
                        @if (Model.IsCurrentSeason)
                        {
                            <th class="equal-width-col">@Localizer["Last Week"]</th>
                        }
                        @if (Model.ShowExtra)
                        {
                            <th class="equal-width-col">@Localizer["Account Created"]</th>
                            @if (Model.Game != GameMode.mkworld)
                            {
                                <th class="equal-width-col">@Localizer["Average Score"]</th>
                            }
                            else
                            {
                                <th class="equal-width-col">@Localizer["Average Score (12P)"]</th>
                                <th class="equal-width-col">@Localizer["Average Score (24P)"]</th>
                            }
                        }
                        <th class="equal-width-col events-col">@Localizer["Events"]</th>
                    </tr>
                </thead>
                <tbody id="leaderboardTableBody">
                <tr>
                    @{ 
                        var baseCols = 6 + (Model.IsCurrentSeason ? 1 : 0); 
                        var extraCols = Model.ShowExtra ? (1 + (Model.Game == GameMode.mkworld ? 2 : 1)) : 0; 
                        var totalCols = baseCols + extraCols; 
                    }
                    <td colspan="@totalCols">Fetching Leaderboard Data...</td>
                        </tr>
                </tbody>
            </table>
        </div>
        <div>
            <span style="float: left" class="form-inline">
                @Localizer["Page"]&nbsp;
                <input type="number" value="1" id="pageNumberInput" min="1" max="1" class="form-control bg-dark text-light" style="width: 80px">
                &nbsp;@Localizer["of"]&nbsp;
                <span id="maxPageNumber">1</span>
            </span>
            <nav>
                <ul class="pagination pagination-dark justify-content-end">
                    <li class="page-item disabled" id="prevPageButton"><a class="page-link" href="#">@Localizer["Previous"]</a></li>
                    <li class="page-item disabled" id="nextPageButton"><a class="page-link" href="#">@Localizer["Next"]</a></li>
                </ul>
            </nav>
        </div>
    </div>
}

@section Scripts
{
    @if (!Model.CachesBeingBuilt)
    {
        <script src="~/js/leaderboard.js" asp-append-version="true"></script>
    }
}