@page "{id:int}"
@using Lounge.Web.Models.ViewModels
@using Lounge.Web.Settings
@using Lounge.Web.Utils
@using Microsoft.AspNetCore.Mvc.Localization
@inject ILoungeSettingsService LoungeSettingsService
@inject IViewLocalizer Localizer
@model Lounge.Web.Pages.PlayerDetailsPageModel
@{
    ViewData["Title"] = $"{Model.Data.Name} - {Localizer.GetString("Season")} {Model.Data.Season}";
    Layout = "_Layout";
}

<div class="navbar navbar-expand-sm navbar-dark bg-dark rounded py-0" style="margin-bottom: 14px;">
    <div class="container-fluid">
        <span class="navbar-brand">@Localizer["Seasons"]</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#seasonSelector">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="seasonSelector">
            <ul class="navbar-nav">
                @foreach (var season in Model.Data.ValidSeasons)
                {
                    <li class="nav-item">
                        <a class="nav-link @(season == Model.Data.Season ? "active" : "")" asp-page="PlayerDetails" asp-route-id="@Model.Data.PlayerId" asp-route-season="@season">@Localizer["Season"] @season</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<h1>@Model.Data.Name - @Html.DisplayFor(model => model.Data.Rank) @(Model.Data.IsHidden ? $"({Localizer["Hidden"]})" : string.Empty)</h1>
<hr />

<div>
    <dl class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Localizer[Html.DisplayNameFor(model => model.Data.OverallRank)]</dt>
            <dd>@Html.DisplayFor(model => model.Data.OverallRank)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Localizer[Html.DisplayNameFor(model => model.Data.Mmr)]</dt>
            <dd class="rank-@Model.Data.RankData.Division">@Html.DisplayFor(model => model.Data.Mmr)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Localizer[Html.DisplayNameFor(model => model.Data.MaxMmr)]</dt>
            <dd class="rank-@LoungeSettingsService.GetRank(Model.Data.MaxMmr, Model.Data.Season)!.Division">@Html.DisplayFor(model => model.Data.MaxMmr)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Localizer[Html.DisplayNameFor(model => model.Data.WinRate)]</dt>
            <dd>@Html.DisplayFor(model => model.Data.WinRate)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Localizer[Html.DisplayNameFor(model => model.Data.WinLossLastTen)]</dt>
            <dd>@Html.DisplayFor(model => model.Data.WinLossLastTen)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Localizer[Html.DisplayNameFor(model => model.Data.GainLossLastTen)]</dt>
            <dd>@Html.DisplayFor(model => model.Data.GainLossLastTen)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Localizer[Html.DisplayNameFor(model => model.Data.EventsPlayed)]</dt>
            <dd>@Html.DisplayFor(model => model.Data.EventsPlayed)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Localizer[Html.DisplayNameFor(model => model.Data.LargestGain)]</dt>
            <dd>
                @if(Model.Data.LargestGainTableId != null)
                {
                    <a asp-page="TableDetails" asp-route-id="@Model.Data.LargestGainTableId">@Html.DisplayFor(model => model.Data.LargestGain)</a>
                }
                else
                {
                    @Html.DisplayFor(model => model.Data.LargestGain)
                }
            </dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Localizer[Html.DisplayNameFor(model => model.Data.LargestLoss)]</dt>
            <dd>
                @if(Model.Data.LargestLossTableId != null)
                {
                    <a asp-page="TableDetails" asp-route-id="@Model.Data.LargestLossTableId">@Html.DisplayFor(model => model.Data.LargestLoss)</a>
                }
                else
                {
                    @Html.DisplayFor(model => model.Data.LargestLoss)
                }
            </dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Localizer[Html.DisplayNameFor(model => model.Data.AverageScore)]</dt>
            <dd>@Html.DisplayFor(model => model.Data.AverageScore)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Localizer[Html.DisplayNameFor(model => model.Data.NoSQAverageScore)]</dt>
            <dd>@Html.DisplayFor(model => model.Data.NoSQAverageScore)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Localizer[Html.DisplayNameFor(model => model.Data.AverageLastTen)]</dt>
            <dd>@Html.DisplayFor(model => model.Data.AverageLastTen)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Localizer[Html.DisplayNameFor(model => model.Data.PartnerAverage)]</dt>
            <dd>@Html.DisplayFor(model => model.Data.PartnerAverage)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Localizer[Html.DisplayNameFor(model => model.Data.NoSQPartnerAverage)]</dt>
            <dd>@Html.DisplayFor(model => model.Data.NoSQPartnerAverage)</dd>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            @if(Model.Data.RegistryLink != null)
            {
                <dt>@Localizer[Html.DisplayNameFor(model => model.Data.RegistryLink)]</dt>
                <dd><a href="@Model.Data.RegistryLink">Link</a></dd>
            }
            else
            {
                <dt>@Localizer[Html.DisplayNameFor(model => model.Data.ForumLink)]</dt>
                <dd><a href="@Model.Data.ForumLink">Link</a></dd>
            }
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <dt>@Localizer[Html.DisplayNameFor(model => model.Data.CountryName)]</dt>
            <dd>@Html.DisplayFor(model => model.Data.CountryName)</dd>
        </div>
    </dl>
    <br />
    @if (Model.Data.MmrChanges.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th>@Localizer[Html.DisplayNameFor(model => model.Data.MmrChanges[0].Reason)]</th>
                        <th>@Localizer[@Html.DisplayNameFor(model => model.Data.MmrChanges[0].Time)]</th>
                        <th>@Localizer[Html.DisplayNameFor(model => model.Data.MmrChanges[0].MmrDelta)]</th>
                        <th>@Localizer[Html.DisplayNameFor(model => model.Data.MmrChanges[0].NewMmr)]</th>
                    </tr>
                </thead>
                @foreach (var change in Model.Data.MmrChanges)
                {
                    <tr>
                        <td>
                            @if (change.Reason is PlayerDetailsViewModel.MmrChangeReason.Table)
                            {
                                <a asp-page="TableDetails" asp-route-id="@change.ChangeId">@TableUtils.TierDisplayName(change.Tier) @TableUtils.FormatDisplay(change.NumTeams!.Value) (ID: @change.ChangeId)</a>
                            }
                            else if (change.Reason is PlayerDetailsViewModel.MmrChangeReason.TableDelete)
                            {
                                <a asp-page="TableDetails" asp-route-id="@change.ChangeId">@Localizer[Html.DisplayTextFor(modelItem => change.Reason)] (ID: @change.ChangeId)</a>
                            }
                            else
                            {
                                @Localizer[Html.DisplayTextFor(modelItem => change.Reason)]
                            }
                        </td>
                        <td>
                            <span class="utc-to-local" data-time="@change.Time.ToString("o", System.Globalization.CultureInfo.InvariantCulture)">
                                @Html.DisplayFor(modelItem => change.Time)
                            </span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => change.MmrDelta)
                        </td>
                        <td class="rank-@LoungeSettingsService.GetRank(change.NewMmr, Model.Data.Season)!.Division">
                            @Html.DisplayFor(modelItem => change.NewMmr)
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</>