@page

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer.GetString("Rules");
    Layout = "_Layout";
}

<h1>@Localizer["MK8DX 150cc Lounge Official Ruleset"]</h1>
<ol type="I" id="rules">
    <li>
        <span class="rule-category">@Localizer["Joining the Lounge"]</span>
        <ol type="a">
            <li>
                @Localizer["Upon joining the server, users send their MKCentral Registry account in the <b>#mkcentral-links</b> channel in our Discord Server."] 
                @Localizer["For help doing this, refer to <a href=\"https://www.mariokartcentral.com/forums/index.php?threads/mkcentral-registry-guide.3921/\">this guide</a>."]
            </li>
            <li>
                @Localizer["If you would like a specific nickname for the scoreboard and Discord server, you can ask for that too."]
                @Localizer["If you already have a rank and would like to change your name, you can request nickname changes in #name-change-request."]
                @Localizer["Players can change their lounge nickname once every 60 days; nicknames cannot be reverted during the 60 day period between changes."]
                <ol type="i">
                    <li>
                        @{
                            var word = Localizer.GetHtml("Nicknames may only contain letters (at least one), numbers, spaces, periods/full stops, hyphens or underscores.");
                        }
                        @word
                    </li>
                    <li>
                        @Localizer["They must start and end with only letters or numbers, and must be between 2-16 characters."]
                    </li>
                    <li>
                        @Localizer["They also may not contain any vulgar language or impersonate another MKC user."]
                    </li>
                    <li>
                        @Localizer["In most cases, if your name can be used as a Twitter username, you can use it in lounge."]
                    </li>
                    <li>
                        @Localizer["Exceptions may be granted on a case-by-case basis."]
                    </li>
                </ol>
            </li>
            <li>
                <span style="background-color: darkred; border-radius: 3px; font-weight: bold">
                    @Localizer["Making an alternate account to join lounge will result in a heavy penalty in lounge and MKCentral."]<br/>
                    @Localizer["MKCentral Staff will find out if an alternate account is made, so it's highly recommended to not do so."]
                </span>
            </li>
        </ol>
    </li>
    <li>
        <span class="rule-category">@Localizer["Ranking System"]</span>
        <ol type="a">
            <li>
                @Localizer["Once a staff member has seen your account, you will be placed into one of the following ranks:"]
                <ul style="list-style-type:none;">
                    <li><b>Iron 1</b>: 0-999 MMR</li>
                    <li><b>Iron 2</b>: 1000-1999 MMR (Placement: 1500)</li>
                    <li><b>Bronze 1</b>: 2000-2999 MMR (Placement: 2500)</li>
                    <li><b>Bronze 2</b>: 3000-3999 MMR (Placement: 3500)</li>
                    <li><b>Silver 1</b>: 4000-4999 MMR (Placement: 4500)</li>
                    <li><b>Silver 2</b>: 5000-5999 MMR</li>
                    <li><b>Gold 1</b>: 6000-6999 MMR</li>
                    <li><b>Gold 2</b>: 7000-7999 MMR</li>
                    <li><b>Platinum 1</b>: 8000-8999 MMR</li>
                    <li><b>Platinum 2</b>: 9000-9999 MMR</li>
                    <li><b>Sapphire 1</b>: 10000-10999 MMR</li>
                    <li><b>Sapphire 2</b>: 11000-11999 MMR</li>
                    <li><b>Ruby 1</b>: 12000-12999 MMR</li>
                    <li><b>Ruby 2</b>: 13000-13999 MMR</li>
                    <li><b>Diamond 1</b>: 14000-14999 MMR</li>
                    <li><b>Diamond 2</b>: 15000-15999 MMR</li>
                    <li><b>Master</b>: 16000-16999 MMR</li>
                    <li><b>Grandmaster</b>: 17000+ MMR</li>
                </ul>
            </li>
            <li>
                @Localizer["If you are unhappy with your placement or feel that you should've been placed higher or lower, then prove it by playing matches."]
                @Localizer["The system will correct itself quite quickly if you deserve a higher/lower grouping."]
                @Localizer["If you have been inactive for at least 6 months, staff will consider a placement change."]
            </li>
            <li>
                @Localizer["Depending on your rank, you will see 1-2 channels that you can play matches in, listed below:"]
                <ul style="list-style-type:none">
                    <li><b>Tier G</b>: Iron 1 + Iron 2 + Placement</li>
                    <li><b>Tier FG</b>: Iron 2 + Bronze 1</li>
                    <li><b>Tier F</b>: Bronze 1 + Bronze 2</li>
                    <li><b>Tier EF</b>: Bronze 2 + Silver 1</li>
                    <li><b>Tier E</b>: Silver 1 + Silver 2</li>
                    <li><b>Tier DE</b>: Silver 2 + Gold 1</li>
                    <li><b>Tier D</b>: Gold 1 + Gold 2</li>
                    <li><b>Tier CD</b>: Gold 2 + Platinum 1</li>
                    <li><b>Tier C</b>: Platinum 1 + Platinum 2</li>
                    <li><b>Tier BC</b>: Platinum 2 + Sapphire 1</li>
                    <li><b>Tier B</b>: Sapphire 1 + Sapphire 2</li>
                    <li><b>Tier AB</b>: Sapphire 2 + Ruby 1</li>
                    <li><b>Tier A</b>: Ruby 1+</li>
                    <li><b>Tier S</b>: Ruby 2+</li>
                    <li><b>Tier X</b>: Diamond 1+</li>
                </ul>
            </li>
        </ol>
    </li>
    <li>
        <span class="rule-category">@Localizer["Gathering Lineups"]</span>
        <ol type="a">
            <li>
                @Localizer["Using MogiBot, the first twelve players to say <code>/c</code> will play."]
                @Localizer["Any players later than 12th on the list will be subs, given priority by their order on the list."]
                @Localizer["If a player is unable to sub when needed or does not respond within 5 minutes, they will receive a -50 penalty and a strike."]
            </li>
            <li>
                @Localizer["The next player in the MogiBot lineup will always have priority when subbing into an event; if a different player subs in when the next player in the MogiBot lineup is able to play, they will receive -50 MMR and a strike."]
            </li>
            <li>
                @Localizer["Players cannot <code>/d</code> for 15 seconds after typing <code>/c</code>. A <code>/c</code> will automatically expire after 20 minutes have passed."]
                @Localizer["A list of players can be found using <code>/l</code>."]
            </li>
            <li>
                @Localizer["Players are not allowed to type <code>/c</code> in a tier they are currently playing in until they have crossed the finish line at the end of the 12th race."]
                @Localizer["For example, players are not allowed to queue up for a Tier D match while currently playing in one."]
                @Localizer["Players who violate this rule will receive -50 MMR and a strike."]
                <ol type="i">
                    <li>
                        @Localizer["Players are allowed to type <code>/c</code> in a different tier than the one they are currently playing in."]
                        @Localizer["For example, players are allowed to queue up for a Tier CD match while currently playing in a Tier D match."]
                        @Localizer["Nonetheless, players are still subject to penalties if they fail to join in time (rule V. a., V. b., V. c.)."]
                    </li>
                    <li>
                        @Localizer["Players who leave an event before it finishes are not allowed to join a mogi until the event they left finishes the 12th race. Players who violate this rule will receive -50 MMR and a strike."]
                    </li>
                </ol>
            </li>
            <li>
                @Localizer["After 8 races have passed in the current mogi, users not currently playing are allowed to start a new mogi."]
            </li>
            <li>
                @Localizer["Once lineups are gained, MogiBot voting will be used to decide on the format."]
                @Localizer["The first twelve players who originally said can are allowed to vote."]
                @Localizer["Anyone who is not part of the original 12 in the line-up is not permitted to vote."]
                <ol type="i">
                    <li>
                        @Localizer["Players who drop for any reason after the poll has been started will receive a -100 MMR strike."]
                    </li>
                    <li>
                        @Localizer["If the event is an FFA, only a host will be needed and the event can start immediately."]
                    </li>
                    <li>
                        @Localizer["If the event is a 2v2, 3v3, or a 4v4 mogi, teams will be randomized."]
                    </li>
                    <li>
                        @Localizer["Once teams are randomized, they are final and cannot be changed."]
                        @Localizer["Players who violate this rule will receive -50 MMR and a strike."]
                    </li>
                </ol>
            </li>
            <li>
                @Localizer["If your rank role changes during a mogi and you are unable to see the chat of the mogi you are participating in, you can temporarily grant your old rank role to yourself in #temprole-requests."]
                @Localizer["Players who abuse the temprole system in any way will receive -50 MMR and a strike."]
            </li>
        </ol>
    </li>
    <li>
        <span class="rule-category">@Localizer["Host"]</span>
        <ol type="a">
            <li>
                @Localizer["Players can queue as a host using the <code>/ch</code> command in MogiBot or the <code>^fc</code> command in Stats Bot."]
                @Localizer["If the player is randomly chosen to be a host, they must post their friend code within 3 minutes of the poll ending."]
                @Localizer["Failure to post the friend code or refusal to host will result in 1 strike."]
                <ol type="i">
                    <li>
                        @Localizer["Players who are hostbanned or chat restricted are not allowed to host an event."]
                    </li>
                    <li>
                        @Localizer["Players who violate i. will receive a 3-day mute."]
                    </li>
                </ol>
            </li>
            <li>
                @Localizer["Once a host has been decided, the host must wait 2 minutes after posting their friend code to accept friend requests before opening the room."]
                @Localizer["If the room is opened early, the late penalty (V. b.) comes into effect after 7 minutes of the friend code being posted."]
                @Localizer["Should players request the room to be reopened if opened early, the host must do so or else receive 1 strike."]
            </li>
            <li>
                @Localizer["In the event of a room closure after the first race, hosts have to wait 5 minutes after they reopen; after 5 minutes, the host can start the mogi even if there aren't 12 players in the room."]
            </li>
            <li>
                @Localizer["If there is no host for a mogi 10 minutes after the poll ends, the entire lineup will receive -50 and a strike excluding hostbanned and chat restricted players."]
            </li>
            <li>
                @Localizer["In the event that a player disconnects before the first race of a mogi starts (by the end of Lakitu Countdown), the room must be restarted regardless of video proof submissions."]
                @Localizer["This rule only applies once, if a player disconnects before the first race a second time the room should continue without closing."]
                @Localizer["A player should provide video proof (switch clip, stream, error history etc.) of their disconnection if requested; otherwise they will receive -50MMR and a strike."]
                @Localizer["If the host does not restart, the first race will not count and an additional 13th race will need to be played at the end."]
            </li>
            <li>
                @Localizer["Hosts should start the room with the following settings:"]
                <ul style="list-style-type:none">
                    <li>@Localizer["<b>Class</b>: 150cc"]</li>
                    <li>@Localizer["<b>Teams</b>: No Teams"]</li>
                    <li>@Localizer["<b>Items</b>: Normal Items"]</li>
                    <li>@Localizer["<b>COM</b>: Hard COM"]</li>
                    <li>@Localizer["<b>COM Vehicles</b>: All Vehicles"]</li>
                    <li>@Localizer["<b>Race Count</b>: 12 Races"]</li>
                </ul>
                @Localizer["Hosts who do not comply with the above race settings may have the corresponding races declared invalid and may be subject to a Hostban penalty."]
            </li>
            <li>
                @Localizer["Hosts that start the room with less than 12 players, close the room for no reason, or otherwise cause unnecessary disruptions will receive -50 and a strike, and may be prohibited from hosting in the future."]
                @Localizer["If hosts disconnected in the middle of a mogi, hosts must take a 30-second clip to prove that it was unintentional (streaming archive is also allowed)."]
                @Localizer["Typing ^hostban in any channel will show the list of host-banned players."]
                <ol type="i">
                    <li>
                        @Localizer["Host-banned players must wait at least 90 days before appealing their hostban."]
                    </li>
                </ol>
            </li>
            <li>
                @Localizer["Room hosts are responsible for taking screenshots of results."]
                @Localizer["If the host failing to take screenshots prevents a table from being made, the host will receive -100MMR and a strike."]
            </li>
        </ol>
    </li>
    <li>
        <span class="rule-category">@Localizer["Match Rules"]</span>
        <ol type="a">
            <li>
                @Localizer["Once a room has been opened, players will have 5 minutes to join the room, unless the room is opened early (refer to rule IV. b.)."]
                @Localizer["For example, if the host posts their friend code at 9:00 and opens the room at 9:02, players are considered late at 9:08."]
            </li>
            <li>
                @Localizer["Players that join the room late will receive a -50 MMR strike."]
            </li>
            <li>
                @Localizer["If a player still has not joined the room 5 minutes after the penalty time, they will receive -100 and a strike and must be replaced by a sub as soon as possible."]
                <u>@Localizer["The mogi should not be started with less than 12 players under any condition."]</u>
                <ol type="i">
                    <li>
                        @Localizer["If a lineup is struggling to find a sub, please tag Lounge Staff to tag @here for a sub."]
                    </li>
                </ol>
            </li>
            <li>
                @Localizer["Players who sub in a match that has already started:"]
                <ol type="i">
                    <li>
                        @Localizer["Do not lose MMR on a losing team."]
                    </li>
                    <li>
                        @Localizer["Only gain MMR on the winning team if they play 4 or more races in said event."]
                    </li>
                    <li>
                        @Localizer["A match has started once the first race has been completed, with the race results being shown."]
                        @Localizer["Players that sub in before the first race will be given normal MMR gains or losses."]
                    </li>
                </ol>
            </li>
            <li>
                @Localizer["Players who repick a course will receive a -50 MMR penalty."]
                @Localizer["This does not include repicks from random track selection."]
                @Localizer["Players who repick a course at least twice will receive a -50 MMR penalty for each instance and a strike (e.g. repicking twice results in -100 MMR + strike, repicking three times results in -150 MMR + strike)."]
                <ol type="i">
                    <li>
                        @Localizer["If the player who reported the repick files an objection and no video or other evidence can be confirmed, the penalty may be revoked."]
                        @Localizer["However, in that case we may check the facts with the reporter and other players who participated in the mogi."]
                    </li>
                    <li>
                        @Localizer["In Squad Queue 6v6 matches, repicking a course will also result in a -20 penalty to the team's score (subtracted from the offending player's score)."]
                    </li>
                </ol>
            </li>
            <li>
                <ol type="i">
                    <li>
                        @Localizer["Players must use their <b>Lounge Nickname</b> (or a shortened, legible version) in FFA format events."]
                        @Localizer["Shortened names must be at least 3 characters long."]
                    </li>
                    <li>
                        @Localizer["FFA names must be legible in English."]
                        @Localizer["Symbols/characters from any language that closely resemble characters in your Lounge Nickname are acceptable, as long as it remains legible and only forms part of the name."]
                        @Localizer["Additional symbols/characters, such as clan tags or stars, that are not part of your Lounge Nickname are prohibited."]
                    </li>
                    <li>
                        @Localizer["FFA names must be distinguishable from players who may have similar names in the same mogi."]
                        @Localizer["For example, if 2 players with Lounge Nicknames of WaluigiPlayer1 and WaluigiPlayer2 are in the same mogi:"]
                        <ul>
                            <li>
                                WaluPlayr1 / WaluPlayr2 ✓
                            </li>
                            <li>
                                WaluPlayr / WaluigiPlr ✗
                            </li>
                        </ul>
                    </li>
                    <li>
                        @Localizer["Failure to use your Lounge Nickname or abide by any of these naming guidelines after the first 2 races will result in -50 MMR."]
                    </li>
                </ol>
            </li>
            <li>
                @Localizer["In team matches, players must decide on a tag to use in their name with their teammates."]
                @Localizer["Tags must adhere to the following guidelines:"]
                <ol type="i">
                    <li>
                        @Localizer["Tags must either all be placed at the beginning of players' names or all at the end of players' names."]
                        @Localizer["For example, the following is allowed:"]
                        <ul>
                            <li>
                                A★Cynda, A★DUGO
                            </li>
                            <li>
                                Cynda★A, DUGO★A
                            </li>
                        </ul>
                        @Localizer["and the following is not allowed:"]
                        <ul>
                            <li>
                                A★Cynda, DUGO★A
                            </li>
                            <li>
                                tmAn, mArio
                            </li>
                            <li>
                                A★Cynda, a★DUGO
                            </li>
                            <li>
                                CyndaXX, DUGOXX
                            </li>
                        </ul>
                    </li>
                    <li>
                        @Localizer["Two teams may not use tags which begin with the same character (uppercase and lowercase of the same letters counts as the same character) and two teams may not use hiragana and katakana tags of the same sound (e.g. あ★Cynda, ア★DUGO); the team which declares their tag first in the chat will have priority regarding this rule."]
                    </li>
                    <li>
                        @Localizer["Players must arrange uppercase/lowercase and hiragana/katakana tags with their teammates."]
                    </li>
                    <li>
                        @Localizer["Symbols that look similar to letters or numbers are classed as the same and cannot be used if another team has claimed it."]
                    </li>
                    <li>
                        @Localizer["Tags at the end of the name must be separated from the rest of the name with a separator such as a space or symbol."]
                    </li>
                    <li>
                        @Localizer["Player names must not begin with the first character of another team's tag."]
                    </li>
                    <li>
                        @Localizer["If not stated otherwise, the tag should start at the beginning of the name by default with regard to (i.)"]
                    </li>
                </ol>
                @Localizer["Failure to use same tags in the same team or abide by any of these naming guidelines after the first 2 races will result in a -50 MMR penalty."]
            </li>
            <li>
                @Localizer["Players that drop from an event before it starts will receive -100 MMR and a strike by default."]
                @Localizer["If a player drops after the first race has been completed, they will receive a -50 MMR strike and receive an MMR penalty according to rule V. i."]
                @Localizer["Players who drop from an event are ineligible for MMR gain from that mogi even if their team wins."]
            </li>
            <li>
                @Localizer["Teams missing a player (including because of disconnections) for at least 4 races will lose MMR proportional to the amount of races the player missed; for example, teammates of a player who missed 6 races will receive 6/12 loss, or 0/12 loss if the teammate misses 12 races."]
            </li>
            <li>
                @Localizer["If any player is disqualified from an event for any reason such as, but not limited to, throwing, teaming, or lap-trolling (on any track except Baby Park, in formats other than 6v6 SQ), they will receive a -100 MMR strike."]
            </li>
            <li>
                @Localizer["Players may not use an in-game name or Mii that is offensive, abusive towards others, contains inappropriate language, or violates any laws."]
                @Localizer["Use of any offensive names or Miis will result in a warning or mute depending on the severity of the name, as well as possible punishment by MKCentral Staff."]
            </li>
        </ol>
    </li>
    <li>
        <span class="rule-category">@Localizer["Disconnections and Lag"]</span>
        <ol type="a">
            <li>
                @Localizer["If 3 or more players from at least 2 different teams disconnect or experience delayed items (only coins or shrooms)  in at least two different item sets during a race, the race will not count and the room must be reopened regardless of video proof submissions."]
                @Localizer["Players should provide video proof (switch clip, stream, error history etc.) of their disconnection if requested; otherwise they will receive -50 MMR and a strike."]
            </li>
            <li>
                @Localizer["If a race does not finish due to lag, the race will not be counted and the room will be reopened."]
            </li>
            <li>
                @Localizer["If no races can be finished for an extended amount of time due to lag, the event can be canceled with no players losing MMR."]
            </li>
            <li>
                @Localizer["If this happens to occur during an event, please attempt to capture video proof of the individual who may be causing the lag in the room."]
                @Localizer["If the proof is convincing, and if the majority of the room agrees on who is causing the lag, staff have the right to punish the individual for a certain amount of time, or warn them to fix their connection before playing again."]
            </li>
            <li>
                @Localizer["If at least three players experience delayed items in at least two different item sets during a race with video proof if requested, the race does not count."]
            </li>
        </ol>
    </li>
    <li>
        <span class="rule-category">@Localizer["Strike System"]</span>
        <ol type="a">
            <li>
                @Localizer["Players who receive MMR penalties for quitting matches, lap-trolling, joining the room late, targeting specific players or teaming will also receive a strike."]
                @Localizer["Strikes expire after 30 days. Players have a limit of 3 strikes."]
            </li>
            <li>
                @Localizer["Players who reach 3 strikes will receive the following punishments:"]
                <ol type="i">
                    <li>@Localizer["1st offense: 7 day mute"]</li>
                    <li>@Localizer["2nd offense: 14 day mute"]</li>
                    <li>@Localizer["3rd offense: 28 day mute"]</li>
                </ol>
            </li>
            <li>
                @Localizer["Strike limits are reset each season."]
            </li>
        </ol>
    </li>
    <li>
        <span class="rule-category">@Localizer["Conduct"]</span>
        <ol type="a">
            <li>
                @Localizer["Players who consistently cause disruptions in the server such as trolling, flaming, spamming bot commands, etc. will either receive a chat restriction (only allowing them to send certain messages), a mute, or a temporary timeout via staff discretion."]
            </li>
            <li>
                @Localizer["Players who consistently cause disruptions in matches such as trolling, targeting specific players, inting etc. will receive a 3-day mute, and may receive increased punishment on repeated instances."]
                <ol type="i">
                    <li>@Localizer["Targeting is defined as disrupting the race of another player through excessive item use whereby their race is significantly/negatively impacted by score or placement; and/or the player targeting impacts their own race in a similar manner."]</li>
                    <li>
                        @Localizer["Making a claim: If you believe someone is targeting, please take multiple videos as evidence and report them using the ticket system."]
                        @Localizer["Videos can be from switch clips, MKTV, streams with timestamps, etc."]
                    </li>
                    <li>@Localizer["Some examples of targeting: slowing to red the same player, slowing to star the same player, spamming items at the same player excessively, and so on."]</li>
                    <li>@Localizer["Note: We encourage you to consider different play styles players may have, lag/genuine mistakes, and how close your mogi is in terms of points before submitting your claim."]</li>
                </ol>
            </li>
            <li>
                @Localizer["Any NSFW content in the server will be promptly deleted and the user that posts it will receive an indefinite chat restriction."]
            </li>
            <li>
                @Localizer["Players who are banned from MKCentral may face similar consequences in Lounge depending on the severity of the ban."]
                @Localizer["Detailed information about MKC bans and Lounge can be found <a href=\"https://www.mariokartcentral.com/forums/index.php?threads/changes-to-mkcs-ban-policy.4810/\">here</a>."]
            </li>
        </ol>
    </li>
    <li>
        <span class="rule-category">@Localizer["Results"]</span>
        <ol type="a">
            <li>
                @Localizer["An online war table generator can be found here:"]<br/>
                <a href="https://hlorenzi.github.io/mk8d_ocr/table.html">https://hlorenzi.github.io/mk8d_ocr/table.html</a>
            </li>
            <li>
                @Localizer["In order for a match to be counted, using a war table with all the correct player names (<u>Server nicknames</u>, not Mii Names) is required."]
                @Localizer["Any penalties that occurred during the match must also be stated."]
            </li>
            <li>
                @Localizer["Only certain people will be given access to the results channels in order to prevent spam."]
                @Localizer["If you want to become reporter, please check the #self-roles channel."]
            </li>
            <li>
                @Localizer["Tables must be submitted using the MK8DX bot in the Lounge server."]
                @Localizer["For more info on how to use this bot, click <a href=\"https://www.mariokartcentral.com/forums/index.php?threads/how-to-submit-tables-using-mk8dx-bot.8823/\">here</a>."]
            </li>
        </ol>
    </li>
    <li>
        <span class="rule-category">@Localizer["Squad Queue"]</span>
        <ol type="a">
            <li>
                @Localizer["Squad Queue is a different way of playing lounge that allows players to play with predetermined teammates."]
                @Localizer["For more information about Squad Queue, click <a href=\"https://www.mariokartcentral.com/forums/index.php?threads/introducing-150cc-lounge-squad-queue.6061/\">here</a>."]
            </li>
            <li>
                @Localizer["If a player fails to show up for a match, misses at least half of an event, or trolls during an event (V. j.) they will receive the SQ Restricted role for 1 week."]
                @Localizer["This role is essentially a ban from SQ for the duration that the player has the role."]
                <ol type="i">
                    <li>
                        @Localizer["If a team can find a sub for a missing player before the late penalty time, the missing player will not receive the SQ restricted role."]
                    </li>
                </ol>
            </li>
            <li>
                @Localizer["Subs are allowed in Squad Queue events; however, the sub's MMR must follow at least one of these conditions:"]
                <ol type="i">
                    <li>
                        @Localizer["The team would still be in the same room with the sub's MMR taken into account."]
                    </li>
                    <li>
                        @Localizer["The sub's MMR is within 1000 MMR of the original player."]
                    </li>
                    <li>
                        @Localizer["In the case that a team violates either of the above conditions, any MMR they win from the event will be voided and also receive SQ Restricted."]
                    </li>
                </ol>
            </li>
            <li>
                @Localizer["If the host has been decided after opening time, the host has to wait 2 minutes to open the room."]
                @Localizer["Players need to be in the room in 5 minutes. (except rule IV. b.)."]
                @Localizer["After 10 minutes, the host can start Mogi even if there are not 12 players in the room."]
            </li>
        </ol>
    </li>
    <li>
        <span class="rule-category">@Localizer["Other Notes"]</span>
        <ol type="a">
            <li>
                @Localizer["Please read the \"Ticket Guidelines\" section of the support/reports channels before creating a support/report ticket."]
            </li>
            <li>
                @Localizer["Chat Restricted, Mute, and Hostban roles are for punishments only and are not available upon request."]
            </li>
            <li>
                @Localizer["There is a possibility that penalties may be more severe at the discretion of Lounge Staff, based on severity and history of behavior."]
            </li>
            <li>
                @Localizer["Lounge Staff will make decisions in the event of unexpected circumstances not listed here."]
            </li>
            <li>
                @Localizer["Players who have received sanctions for an indefinite period of time must wait at least 90 days before appealing their punishment, excluding players who are indefinitely Chat Restricted or Muted because of an indefinite MKCentral ban."]
            </li>
        </ol>
    </li>
</ol>