@page "/{game}/Stats"
@using Lounge.Web.Settings
@using Lounge.Web.Utils
@using Microsoft.AspNetCore.Mvc.Localization
@using Lounge.Web.Models.Enums
@inject ILoungeSettingsService LoungeSettingsService
@inject IViewLocalizer Localizer

@model Lounge.Web.Pages.StatsPageModel
@{
    ViewData["Title"] = $"{Localizer.GetString("Stats")} - {GameUtils.GetSeasonDisplayName(Model.Season)}";
    Layout = "_Layout";
}

@await Html.PartialAsync("Shared/_SeasonSelectorPartial", new Lounge.Web.Models.ViewModels.SeasonSelectorModel {
    PageName = "Stats",
    Game = Model.Game,
    CurrentSeason = Model.Season,
    ValidSeasons = Model.ValidSeasons,
    PlayerCount = Model.Game == GameMode.mkworld12p ? 12 : Model.Game == GameMode.mkworld24p ? 24 : null
})

<h1 class="m-4 text-center">@Localizer["Division Data"]</h1>
<div class="stats-section">
    <div class="chart-container">
        <canvas id="statDivisionChartBody"></canvas>
    </div>

    <div class="row mx-0">
        <div class="table-responsive col-lg-10 col-md-9 col-12">
            <table id="stats-table" class="table table-sm table-striped table-dark text-center">
                <thead>
                    <tr>
                        <th>@Localizer["Division"]</th>
                        <th>@Localizer["Players"]</th>
                        <th>@Localizer["% of Players"]</th>
                        <th>@Localizer["Percentiles"]</th>
                    </tr>
                </thead>
            </table>
        </div>

        <dl class="row col text-center align-items-center mx-0">
            <div class="col-md-12 col">
                <dt>@Localizer["Total Players"]</dt>
                <dd id="total-players"></dd>
            </div>
            <div class="col-md-12 col">
                <dt>@Localizer["Total Mogis"]</dt>
                <dd id="total-mogis"></dd>
            </div>
            <div class="col-md-12 col">
                <dt>@Localizer["Average MMR"]</dt>
                <dd id="average-mmr"></dd>
            </div>
            <div class="col-md-12 col">
                <dt>@Localizer["Median MMR"]</dt>
                <dd id="median-mmr"></dd>
            </div>
        </dl>  
    </div>  
</div>

<h1 class="m-4 text-center">@Localizer["Country Data"]</h1>
<div class="stats-section">
    <div class="row mx-0">
        <div class="chart-container col-lg-6 col-12">
            <canvas id="statPopulationCountryChartBody"></canvas>
        </div>
        <div class="table-responsive my-auto pt-2 col-lg-6 col-12" >
            <table id="country-population-table" class="table table-sm table-striped table-dark text-center">
                <thead>
                    <tr>
                        <th>@Localizer["Country"]</th>
                        <th>@Localizer["Population"]</th>
                        <th>@Localizer["% of Total Population"]</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>


    <div class="chart-container">
        <canvas id="statOverallCountryChartBody"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="statTopCountryChartBody"></canvas>
    </div>
</div>

<h1 class="m-4 text-center">@Localizer["Activity Data"]</h1>
<div class="stats-section">
    <div class="row mx-0">
        <div class="chart-container col-lg-6 col-12">
            <canvas id="statMogiFormatChartBody"></canvas>
        </div>
        <div class="table-responsive my-auto pt-2 col-lg-6 col-12" >
            <table id="mogi-format-table" class="table table-striped table-dark text-center">
                <thead>
                    <tr>
                        <th>@Localizer["Format"]</th>
                        <th>@Localizer["Mogis"]</th>
                        <th>@Localizer["% of Mogis"]</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="chart-container">
        <canvas id="statMogiActivityChartBody"></canvas>
    </div>

    <div class="row mx-0 align-items-center">
        <div class="table-responsive table-sm col-md-6 col-12" >
            <table id="mogi-tier-table" class="table table-striped table-dark text-center">
                <thead>
                    <tr>
                        <th>@Localizer["Tier"]</th>
                        <th>@Localizer["Mogis"]</th>
                        <th>@Localizer["% of Mogis"]</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-responsive table-sm col-md-6 col-12" >
            <dl class="row col text-center mx-0">
                <div class="col-6">
                    <dt>@Localizer["Length of Season (Days)"]</dt>
                    <dd id="days-in-season"></dd>
                </div>
                <div class="col-6">
                    <dt>@Localizer["Average Mogis Per Day"]</dt>
                    <dd id="average-mogis-per-day"></dd>
                </div>
            </dl> 
            <table id="mogi-weekday-table" class="table table-striped table-dark text-center">
                <thead>
                    <tr>
                        <th>@Localizer["Day of Week"]</th>
                        <th>@Localizer["Mogis"]</th>
                        <th>@Localizer["% of Mogis"]</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts
    {
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/chartjs/chart.min.js"></script>
        <script src="~/js/stats.js"></script>
        <script>
            function updatePage(data) {
                initializeGameConfig(data);
                updateStatsChart(data);
                updateStats(data);
                updatePopulationCountryChart(data);
                updateOverallCountryChart(data, @Model.Season);
                updateTopCountryChart(data, @Model.Season);
                updateMogiFormatChart(data);
                updateMogiActivityChart(data, @Model.Season);
                updateMogiTables(data, @Model.Season);
            }

            const url = `/api/player/stats?season=@(Model.Season)&game=@(Model.Game.GetStringId())`;
            fetch(url)
                .then((response) => response.json())
                .then((data) => updatePage(data))
                .catch((error) => {
                    console.log(error);
            });
        </script>
    }