@page "/{game}/TableDetails/{id:int}"
@using Lounge.Web.Models.Enums
@using Lounge.Web.Utils
@using Microsoft.AspNetCore.Mvc.Localization
@model Lounge.Web.Pages.TableDetailsPageModel
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = $"{Localizer.GetString("Table")} (ID: {Model.Data.Id}) - {GameUtils.GetSeasonDisplayName(Model.Data.Season)}";
    Layout = "_Layout";
}
<div>
    <dl>
        <dt class="col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.Data.Id)]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Id)
        </dd>
        <dt class="col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.Data.CreatedOn)]
        </dt>
        <dd class="col-sm-10">
            <span class="utc-to-local" data-time="@Model.Data.CreatedOn.ToString("o", System.Globalization.CultureInfo.InvariantCulture)">
                @Html.DisplayFor(model => model.Data.CreatedOn)
            </span>
        </dd>

        <dt class="col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.Data.VerifiedOn)]
        </dt>
        @{
            var isVerified = Model.Data.VerifiedOn != null;
            var verifiedClass = isVerified ? "utc-to-local" : "";
        }
        <dd class="col-sm-10">
            <span class="@verifiedClass" data-time="@Model.Data.VerifiedOn?.ToString("o", System.Globalization.CultureInfo.InvariantCulture)">
                @Html.DisplayFor(model => model.Data.VerifiedOn)
            </span>
        </dd>
        @if (Model.Data.DeletedOn is not null)
        {
            <dt class="col-sm-2">
                @Localizer[Html.DisplayNameFor(model => model.Data.DeletedOn)]
            </dt>
            <dd class="col-sm-10">
                <span class="utc-to-local" data-time="@Model.Data.DeletedOn.Value.ToString("o", System.Globalization.CultureInfo.InvariantCulture)">
                    @Html.DisplayFor(model => model.Data.DeletedOn)
                </span>
            </dd>
        }
        <dt class="col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.Data.Format)]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Format)
        </dd>
        <dt class="col-sm-2">
            @Localizer[Html.DisplayNameFor(model => model.Data.Tier)]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Tier)
        </dd>
    </dl>
    <hr />
    <h2>@Localizer[Html.DisplayNameFor(model => model.Data.Url)]</h2>
    <img src="@Model.Data.Url" class="img-fluid"/>
    <hr />
    @{
        var showMultiplier = Model.Data.Teams.Any(t => t.Scores.Any(s => s.Multiplier != 1));
    }
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">
                    @Localizer[Html.DisplayNameFor(model => model.Data.Teams[0].Rank)]
                </th>
                <th scope="col" style="width: 32px"></th>
                <th scope="col">
                    @Localizer[Html.DisplayNameFor(model => model.Data.Teams[0].Scores[0].PlayerName)]
                </th>
                <th>
                    @Localizer[Html.DisplayNameFor(model => model.Data.Teams[0].Scores[0].Score)]
                </th>
                @if (showMultiplier)
                {
                    <th scope="col">
                        @Localizer[Html.DisplayNameFor(model => model.Data.Teams[0].Scores[0].MultiplierString)]
                    </th>
                }
                @if (Model.Data.VerifiedOn is not null)
                {
                    <th scope="col">
                        @Localizer[Html.DisplayNameFor(model => model.Data.Teams[0].Scores[0].PrevMmr)]
                    </th>
                    <th scope="col">
                        @Localizer[Html.DisplayNameFor(model => model.Data.Teams[0].Scores[0].Delta)]
                    </th>
                    <th scope="col">
                        @Localizer[Html.DisplayNameFor(model => model.Data.Teams[0].Scores[0].NewMmr)]
                    </th>
                }
            </tr>
        </thead>
        @foreach (var team in Model.Data.Teams)
        {
            @foreach (var score in team.Scores)
            {
                <tr>
                    <th scope="row">
                        @Html.DisplayFor(modelItem => team.Rank)
                    </th>
                    <td scope="row">
                        @if(score.PlayerCountryCode != null)
                        {
                            <img src="~/img/flags/@(score.PlayerCountryCode).png" style="width: 30px"/>
                        }
                    </td>
                    <td>
                        @{
                            int? p = Model.Data.Game switch
                            {
                                GameMode.mkworld12p => 12,
                                GameMode.mkworld24p => 24,
                                _ => null
                            };
                        }

                        <a asp-page="PlayerDetails" asp-route-game="@Model.Data.Game.GetRegistrationGameMode().GetStringId()" asp-route-id="@score.PlayerId" asp-route-season="@Model.Data.Season" asp-route-p="@p?.ToString()">@Html.DisplayFor(modelItem => score.PlayerName)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => score.Score)
                    </td>
                    @if (showMultiplier)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => score.MultiplierString)
                        </td>
                    }
                    @if (Model.Data.VerifiedOn is not null)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => score.PrevMmr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => score.Delta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => score.NewMmr)
                        </td>
                    }
                </tr>
            }
        }
    </table>
</div>
